@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
}

.container {
    display: flex;
    height: 100vh;
    font-family: 'Roboto Slab', Times, serif;
}

.container>aside {
    flex: 1;
    /* border: 1px solid red; */
    color: white;
    position: relative;
    background: url(img/cutedog.jpg);
    background-size: 100% 100%;
}

.container>main {
    flex: 1.5;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container>aside>article {
    width: 100%;
    /* border: 2px solid; */
    position: absolute;
    text-align: center;
    /* left: 25vh; */
    top: 46vh;
    padding: 34px;
    background: #1c1a1a3d;
    /* font-size: 20px; */
}

form>.items {
    display: flex;
    flex-direction: row;
    gap: 9px;
    flex-wrap: wrap;
}

.items div {
    display: flex;
    flex-direction: column;
    width: 46%;
    margin: 20px 0;
}

main>section:nth-child(1) {
    /* width: 80%; */
    margin: 0 auto;
    padding: 0 5%;
    /* background: #fff; */
}

form input {
    padding: 5px;
    font-size: 1.2rem;
    font-size: 1, 2rem;
}

form input:focus {
    border: 2px solid green;
}

form button {
    background: #010812;
    color: #fff;
    width: 34%;
    padding: 9px;
    border: 2px solid #010d16;
    border-radius: 7px;
    margin: 20px 0;
    font-size: 1.5rem;
    /* color: red; */
}

form .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
}

.wrapper {
    background: #fff;
    padding: 2% 5%;
    margin: 20px 0;
    box-shadow: 6px 3px 9px 1px #99b3db, -1em 0 0.4em #f0f2f5;
}

aside>span {
    position: absolute;
    /* font-size: 20px; */
    bottom: 0;
    left: 17%;
}

article>span {
    font-size: 2rem;
    position: relative;
    top: -11px;
    left: 4px;
    font-family: 'Pacifico', cursive;
}

span.login {
    color: blue;
}

.wrapper label {
    letter-spacing: 3px;
}

input:focus,
input:active {
    border-color: green !important;
    transition: border-color .20s ease-in;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }

    .container {
        display: flex;
        flex-direction: column;
        /* height: 100vh; */
        font-family: 'Roboto Slab', Times, serif;
    }

    .container>aside {
        min-height: 50vh;
    }

    .container>aside>article {
        top: 18vh;
    }

    .container>main {
        padding: 20px 0;
    }

    .items div {
        flex-direction: column;
        width: 100%;
        margin: 12px 0;
    }

    form input {
        margin: 2px 0;
        border: 2px solid gray;
    }

    form button {
        width: 50%;
    }

}